.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
  padding: 2.5rem 0;
  width: 110px;
  border-right: 1px solid var(--borderColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left 0.3s ease;
  background-color: var(--bgColor);
  @media (max-width: 1023px) {
    left: -110px;
    &.active {
      left: 0;
    }
  }

  &__menu {
  }
  &__footer {
  }
  &__copyright {
    font-size: 0.9rem;
    color: hsl(245, 14%, 65%);
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--logoColor);
  span {
    color: hsl(353, 100%, 65%);
  }
}
.menu-sidebar {
  &__list {
    display: grid;
    gap: 1.5rem;
  }
  &__item {
    cursor: pointer;
  }
  &__link {
    font-size: 25px;
    color: var(--iconColor);
    transition: color 0.3s ease-in-out;
    &.active {
      color: hsl(45, 100%, 51%);
    }
    &:hover {
      color: hsl(45, 100%, 51%);
    }
  }
}

.menu-button {
  display: none;
  @media (max-width: 1023px) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 25px;
    left: 20px;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--bgColor);
    border: 1px solid #e8dfec;
    color: var(--textColor);
    font-size: 1.3rem;
    z-index: 100;
    transition: left 0.3s ease;
    &.active {
      left: 125px;
    }
  }
}
